.profile-container{
    .bg-photo{
        width: 100%;
        height: 320px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bg-photo .ant-avatar{
        position: absolute;
    }
    .avatar{
        border: 5px solid white;
        top: 30px;
    }
    .title{
        position: absolute;
        top: 174px;
        color: #F5F7F8;
    }
    .button{
        position: absolute;
        top: 240px;
    }
    .upload{
        position: absolute;
        bottom: 24px;
        right: 40px;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    .tab-pane{
        width: 450px;
        text-align: center;
        font-weight: bold;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 21rem;
        gap: 52px;
        padding: 10px;
    }
}
.btn-upload{
    border: 0;
    background: none;

    .btn-upload-title{
        margin-top: 8px;
    }
}